body {
  margin: 0;
  font-size: 5rem;
}

/* status bar */
.container {
  background: #9994;
  width: 100%;
  height: 6px;
  position: fixed;
  top: 0;
  left: 0;
}

.bar {
  width: 0;
  height: 100%;
  box-shadow: 0 0 5px darkred;
  background: red;

  animation: resize auto linear forwards;
  animation-timeline: scroll(root block);
}

@keyframes resize {
  from { width: 0% } /* Se puede omitir */
  to { width: 100% }
}

/* animation scroll */
.box {
  width: 196px;
  height: 196px;
  background: indigo;
  animation: change auto linear forwards;
  animation-timeline: view();
}

@keyframes change {
  0% { background: indigo; opacity: 0; rotate: 0deg; translate: 0px 0; }
  50% { background: gold; }
  100% { background: deeppink; opacity: 1; rotate: 360deg;translate: 400px 0; }
}