*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 0 2vw;
  margin: 0;
  font-size: 5rem;
  font-family: Geneva, Verdana, sans-serif;
  background-color: #222;
  color: #eee;
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 3rem;
    padding: 0 10vw;
    color: #ccc;
  }

  .info {
    justify-self: end;
    margin-top: 50px;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #555;
    cursor: default;

    &:hover {
      background-color: #333;
      outline: 3px solid #aaa;
      animation: blink infinite ease-in-out 1.5s; 

      .info__svg-container {
        /* rotate: 90deg; */
        animation: bounce infinite ease-in .5s;
      }
      
      .info__svg-icon {
        rotate: 90deg;
        
        polygon {
          fill: #bbb;
        }
      }
    }

    .info__text {
      font-size: 2rem;
      color: #eee;
      margin-right: 20px;
    }

    .info__svg-container {
      font-size: 2rem;
      transition: rotate .3s;
    }

    .info__svg-icon {
      right: 0;
      margin: auto;
      height: 2rem;
      width: auto;
      transition: rotate .3s;
    }
  }
}

@keyframes blink {
  100% {outline: 6px solid #aaa}
}

@keyframes bounce {
  100% {transform: translate(0, .5rem)}
}

/* traslation 3D */
.container3d {
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(2deg) rotateY(2deg) rotateZ(2deg);
  perspective: 300px;
}

.element3d {
  width: 100%;
  height: 100%;
  background: red;

  /* Sólo eje X */
  /* transform: translateX(40px);     */

  /* Solo eje Y */
  /* transform: translateY(25px);     */

  /* Solo eje Z */
  /* transform: translateZ(55px);     */

  /* Equivale a los tres anteriores */
  transform: translate3d(40px, 25px, 55px);   

  /* transform: scale3d(1, 0.5, 2); */
}

/* landing three boxes */
.axis {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.boxz {
  /* display: inline-block; */
  width: 196px;
  height: 196px;
  background: indigo;
  transition: rotate 0.5s, outline 0.2s, border-radius 0.5s;
  
  &:hover {
    rotate: 45deg;
    outline: 5px solid #222;
    border-radius: 10px;
  }
  
  &:nth-child(2) {
    background: deepskyblue;
  }

  &:nth-child(3) {
    background: tan;
    
      
      /* .boxz {
        background: tan;
      } */
  }
}

/* status bar */
.container {
  background: #9994;
  width: 100%;
  height: 6px;
  position: fixed;
  top: 0;
  left: 0;
}

.bar {
  width: 0;
  height: 100%;
  box-shadow: 0 0 5px darkred;
  background: red;

  animation: resize auto linear forwards;
  animation-timeline: scroll(root block);
}

@keyframes resize {
  from { width: 0% } /* Se puede omitir */
  to { width: 100% }
}

/* view scroll animation */
.box {
  width: 196px;
  height: 196px;
  background: indigo;
  animation: change auto linear forwards;
  animation-timeline: view(-400px);
}

@keyframes change {
  0% { background: indigo; opacity: 0; rotate: 0deg; translate: 0px 0; }
  50% { background: gold; }
  100% { background: deeppink; opacity: 1; rotate: 360deg;translate: 400px 0; }
}