@charset "UTF-8";
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(215, 213, 213, 0.609);
  outline: 1px solid slategrey;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 162, 0, 0.842);
  /* background-color: rgba(0, 157, 255, 0.824); */
  cursor: pointer;
}

:root {
  --dark-color: #ddd;
  --light-color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 5rem;
  font-family: Geneva, Verdana, sans-serif;
  background-color: #222;
  color: #eee;
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header h1 {
  font-size: 15vmin;
}
header h2 {
  font-size: 5vmin;
  padding: 0 10vw;
  color: #aaa;
}
header .info {
  justify-self: end;
  margin-top: 50px;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #555;
  cursor: default;
}
header .info #darkGroup {
  fill: var(--dark-color);
}
header .info #lightGroup {
  fill: var(--light-color);
}
header .info #light, header .info #dark1, header .info #dark2 {
  transition: all 1s ease;
}
header .info #dark2 {
  transform: translateX(-100%);
}
header .info:hover {
  background-color: #333;
  outline: 3px solid #aaa;
  animation: blink infinite ease-in-out 1.5s;
}
header .info:hover .info__svg-container {
  rotate: 90deg;
  /* animation: bounce infinite ease-in .5s; */
}
header .info:hover .info__svg-container #light1 {
  transform: translateX(20%);
}
header .info:hover .info__svg-container #dark1 {
  transform: translateX(40%);
  opacity: 0;
}
header .info:hover .info__svg-container #dark2 {
  transform: translateX(0%);
}
header .info:hover .info__svg-icon {
  rotate: 90deg;
}
header .info:hover .info__svg-icon polygon {
  fill: #bbb;
}
header .info .info__text {
  font-size: 2rem;
  color: #eee;
  margin-right: 20px;
}
header .info .info__svg-container {
  font-size: 2rem;
  transition: rotate 0.3s;
  height: 2rem;
  width: auto;
}
header .info .info__svg-icon {
  right: 0;
  margin: auto;
  height: 2rem;
  width: auto;
  transition: rotate 0.3s;
}

@keyframes blink {
  100% {
    outline: 6px solid #aaa;
  }
}
@keyframes bounce {
  100% {
    transform: translate(0, 0.5rem);
  }
}
/* traslation 3D */
.container3d {
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(2deg) rotateY(2deg) rotateZ(2deg);
  perspective: 300px;
}

.element3d {
  width: 100%;
  height: 100%;
  background: red;
  /* Sólo eje X */
  /* transform: translateX(40px);     */
  /* Solo eje Y */
  /* transform: translateY(25px);     */
  /* Solo eje Z */
  /* transform: translateZ(55px);     */
  /* Equivale a los tres anteriores */
  transform: translate3d(40px, 25px, 55px);
  /* transform: scale3d(1, 0.5, 2); */
}

/* landing three boxes */
.axis {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.boxz {
  /* display: inline-block; */
  width: 196px;
  height: 196px;
  background: indigo;
  transition: rotate 0.5s, outline 0.2s, border-radius 0.5s;
}
.boxz:hover {
  rotate: 45deg;
  outline: 5px solid #222;
  border-radius: 10px;
}
.boxz:nth-child(2) {
  background: deepskyblue;
}
.boxz:nth-child(3) {
  background: tan;
  /* .boxz {
    background: tan;
  } */
}

/* status bar */
.container {
  background: rgba(153, 153, 153, 0.2666666667);
  width: 100%;
  height: 6px;
  position: fixed;
  top: 0;
  left: 0;
}

.bar {
  width: 0;
  height: 100%;
  box-shadow: 0 0 5px darkred;
  background: red;
  animation: resize auto linear forwards;
  animation-timeline: scroll(root block);
}

@keyframes resize {
  from {
    width: 0%;
  } /* Se puede omitir */
  to {
    width: 100%;
  }
}
/* view scroll animation */
.glitch {
  width: 100%;
  margin: auto;
}
.glitch__box {
  position: absolute;
  width: 100%;
}
.glitch__container {
  display: flex;
  justify-content: space-around;
  margin-top: -5vh;
  transition: all 0.3s;
}
.glitch__container:nth-of-type(even) {
  margin-top: -10vh;
}
.glitch .box {
  width: 10vmax;
  height: 10vmax;
  border-radius: 20px;
  animation: change auto linear forwards;
  animation-timeline: view();
  transition: all 0.2s;
}
.glitch .box:nth-of-type(odd) {
  transform: scale(150%);
}

@keyframes change {
  0% {
    opacity: 0;
  }
  100% {
    background: #aaa;
    opacity: 1;
  }
}
@keyframes turnSpace {
  0% {
    justify-content: space-between;
  }
  50% {
    justify-content: center;
  }
  100% {
    justify-content: space-around;
  }
}
@keyframes overtake {
  0% {
    padding-bottom: -5vh;
  }
  100% {
    padding-bottom: 5vh;
  }
}
.fake-text {
  width: 100%;
  height: 175vh;
  padding: 10vh;
  margin-top: -80vh;
  font-size: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: radial-gradient(circle at bottom, #aaa, #aaa 50%, transparent 80%);
}
.fake-text p {
  text-align: left;
  margin-bottom: 3vh;
}

.projects {
  width: 100vw;
  height: 100vh;
  padding: 5vmin;
  background-color: #000;
  gap: 5vh;
}
.projects .project {
  display: grid;
  place-items: center;
  position: relative;
  height: 500px;
  width: 350px;
  background-color: #222;
  border-radius: 10px;
  cursor: pointer;
}
.projects .project__title {
  font-size: 3vmin;
}
.projects .project::before {
  position: absolute;
  content: "";
  height: 500px;
  width: 350px;
  background-color: tomato;
  border-radius: 15px;
  z-index: -1;
}
.projects .project:hover::before {
  height: 512px;
  width: 362px;
}

@keyframes cardBorder {
  50% {
    filter: hue-rotate(350deg);
  }
}/*# sourceMappingURL=style.css.map */